spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        enable_lazy_load_no_trans: false
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
    default-schema: catalog
    drop-first: false
    contexts: default

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    liquibase: INFO